[submodule "pkgbuilds/libfprint-elanmoc2-slg3-git"]
	path = pkgbuilds/libfprint-elanmoc2-slg3-git
	url = https://github.com/xerootg/libfprint-elanmoc2-slg3-git
[submodule "pkgbuilds/orca-slicer-git"]
	path = pkgbuilds/orca-slicer-git
	url = https://aur.archlinux.org/orca-slicer-git.git
[submodule "pkgbuilds/imhex"]
	path = pkgbuilds/imhex
	url = https://aur.archlinux.org/imhex.git
[submodule "pkgbuilds/ttf-nanum"]
	path = pkgbuilds/ttf-nanum
	url = https://aur.archlinux.org/ttf-nanum.git
