pkgbase = kwin-scripts-xeros-tiling-window-manager-git
	pkgdesc = Xero's Tiling Window Manager - KDE KWin Script for snapping windows into zones
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/xerootg/xeros-tiling-window-manager
	arch = any
	license = GPL-3.0-only
	makedepends = git
	depends = kwin
	source = git+https://github.com/xerootg/xeros-tiling-window-manager.git
	sha256sums = SKIP

pkgname = kwin-scripts-xeros-tiling-window-manager-git
