---
name: Build Pacman Repo

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build-pacman-repo:
    runs-on: ubuntu-latest
    environment: prod
    container:
      image: archlinux:base-devel
    steps:
      - name: Container Setup
        run: |
          pacman -Syu --disable-download-timeout --needed --noconfirm \
            archlinux-keyring \
            base-devel \
            git \
            reflector \
            wget \
            rust \
            tree

      - name: Update mirrors
        run: |
          reflector --latest 10 --protocol http,https --sort rate --save /etc/pacman.d/mirrorlist

      - name: Checkout Pacman Repo Builder
        uses: actions/checkout@v4
        with:
          repository: pacman-repo-builder/pacman-repo-builder
          path: pacman-repo-builder

      - name: Checkout this repo
        uses: actions/checkout@v4
        with:
          submodules: true
          path: repo

      - name: Get GitHub App token for GitHub Pages
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.PAGES_BOT_APP_ID }}
          private-key: ${{ secrets.PAGES_BOT_PRIVATE_KEY }}

      - name: Checkout GitHub Pages Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/${{ github.repository_owner }}.github.io
          ref: main
          path: github-pages
          token: ${{ steps.app-token.outputs.token }}
          persist-credentials: false
          fetch-depth: 0

      - name: Build and Install build-pacman-repo
        run: |
          sed -i 's/alpm = "[^"]*"/alpm = "*"/' Cargo.toml
          cargo update -p alpm --aggressive
          cargo build --release || (cargo fix --lib -p pacman-repo-builder && cargo build --release)
          install -Dm755 target/release/build-pacman-repo /usr/local/bin/build-pacman-repo
        working-directory: pacman-repo-builder

      - name: Patch makepkg
        run: |
          build-pacman-repo patch-makepkg --replace --unsafe-ignore-unknown-changes
        working-directory: repo

      - name: Build Pacman Repo
        run: |
          # temporarily delete the orca-slicer-git submodule if it exists
          test -d pkgbuilds/orca-slicer-git && rm -rf pkgbuilds/orca-slicer-git || echo "orca-slicer-git submodule not present, continuing"
          # ensure github-pages/archlinux directory exists, if not, we can't copy files later
          test -d ../github-pages/archlinux || (echo "cannot find the gh pages repo, exiting" && exit 1)
          build-pacman-repo build
          tree -lah pkgbuilds/

      - name: Copy packages to GitHub Pages
        run: |
          # first, check if we have a db file
          test -f pkgbuilds/custom.db.tar.gz || (echo "No packages built, skipping copy step" && exit 1)
          cp -f pkgbuilds/* ../github-pages/archlinux/

        working-directory: repo
      - name: GitHub Commit & Push
        if: github.event_name == 'schedule' || github.event_name == 'push'
        uses: actions-js/push@v1.5
        with:
          author_email: ${{ secrets.GH_BOT_EMAIL }}
          author_name: ${{ secrets.GH_BOT_NAME }}
          repository: ${{ github.repository_owner }}/${{ github.repository_owner }}.github.io
          branch: main
          directory: github-pages
          github_token: ${{ steps.app-token.outputs.token }}
          message: "Update per ${{ github.event_name }}: ${{ github.sha }}"
